{% extends 'base.html' %}

{%block main %}

<h1 class="page-header">Add a new Property</h1>

<div class="container col-md-8">
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}

        <!-- title -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.title.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.title(class_='form-control')}}
            </div>
        </div>

        <!-- bedrooms -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.bedrooms.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.bedrooms(class_='form-control')}}
            </div>
        </div>

        <!-- bathrooms -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.bathrooms.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.bathrooms(class_='form-control')}}
            </div>
        </div>

        <!-- locations -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.location.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.location(class_='form-control')}}
            </div>
        </div>   

        <!-- price -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.price.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.price(class_='form-control')}}
            </div>
        </div>   

        <!-- type -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.propType.label}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.propType(class_='form-control')}}
            </div>
        </div> 
        

        <!-- description -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.description.label}} 
            </label>
            <div class="col-sm-10">
                {{form.description(class_='form-control')}}
            </div>
        </div>

        <!-- photo -->
        <div class="fom-group pb-3">
            <label for="colFormLabel" class="col-sm-2 col-form-label">
                {{form.photo.label(class_= "custom-file-label")}} <span class="text-danger">(Required)</span>
            </label>
            <div class="col-sm-10">
                {{form.photo(class_='custom-file-input pb-3')}}
            </div>
        </div>
        
        <button type="submit info" class="btn btn-info">Add Property</button>


    </form>
</div>

{%endblock%}